CMakeFiles/
CMakeCache.txt
/.vscode
Graphics/'Blender Sierpinski'/Blender Sierpinski.zip

Graphics/'Group 5 Project'/Q1/TextFiles/
Graphics/'Group 5 Project'/Q2/TextFiles/
Graphics/'Group 5 Project'/Q3/TextFiles/
